/* nav fix */
*:first-child+html #nav li {
    width: 24.9%;
}

/* self-clear floats */
* html .group { /* IE6 */
    height: 1%;
}

*:first-child+html .group { /* IE7 */
    min-height: 1px;
}

.browse-happy{
    text-align: center;
    font-size: 2em;
    background: #FF0A95;
    color:#fff;
    padding: 0;
    margin: 0;
}

.thumb {
    margin-right: 20px;
}

.cover-last-line {
    height: 2px;
    width: 100%;
    background: #F0F3F7;
    margin-top: -2px;
}